<table class="table">
  <tbody>
    <% model_object.attributes.each do |attr, value| %>
      <% next if value.blank? %>
      <tr>
        <td><%= attr.to_s.humanize %></td>
        <td><%= model_object.send(attr) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= content_for :page_actions do %>
  <%= link_to 'Edit', edit_path(model_object) %>
<% end %>